:root {
  --primary: #dce0d9;
  --secondary: #fbf6ef;
  --other: #ead7c3;
  --primary-text: black;
}
* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  padding: 0px;
  margin: 0px;
}
.App-header {
  background-color: var(--primary);
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  width: 100vw;
  z-index: 999;
  border-bottom: 1px solid black;
}
.App-search {
  width: 50%;
  /* padding: 10px; */
  color: "secondary";
  border-radius: 4px; /* Rounded corners */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
}
.search-items {
  width: 50%;
  position: fixed;
  background-color: black;
}
.content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-side {
  margin-top: 20vh;
  width: 30%;
  height: 100%;
  /* background-color: #ccc; */
  border-right: 1px solid black;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.reference-box {
  margin-top: 10px;
  width: 90%;
  height: 30%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.reference-box>div {
  border-bottom: 1px solid black;
}
.content-header {
  color: var(--primary-text);
  width: 100%;
  height: 50px;
  background-color: var(--primary);
  border-radius: 5px 5px 0 0;
  line-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reference-detail {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}
.chatbot-box {
  margin-top: 10px;
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.chatbot-box>div {
  border: 1px solid black;
}
.chatbot-detail {
  width: 100%;
  border: 1px solid black;
  height: 70%;
}
.chatbot-content {
  height: 90%;
  display: flex;
  flex-direction: column;
}
.agent, .user {
  display: block;
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.agent {
  align-self: flex-start;
  background-color: #f0f0f0; /* Example color */
}

.user {
  align-self: flex-end;
  background-color: #d1e7dd; /* Example color */
}
.chatbot-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  background-color: var(--secondary);
}
.chatbot-input {
  width: 80%; /* Takes up most of the footer space */
  padding: 10px;
  border: 1px solid black;
}

.chatbot-button {
  padding: 10px 20px;
  background-color: #007bff; /* Bootstrap primary blue */
  color: white;
  border: 1px solid black;
  cursor: pointer; /* Changes cursor to pointer on hover */
}

.chatbot-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
.right-side {
  margin-top: 20vh;
  margin-left: 30%;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}