* {
    list-style-type: none;
}
.right-side {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
.page {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 5vh;
    display: none;
    z-index: 99;
}
.page button {
    margin: 0 10px;
}
.submenu {
    min-width: 100px;
    min-height: 50px;
    background-color: black;
    color: white;
}
.submenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.submenu ul li {
    width: auto;
    font-size: 12px;
    padding: 5px 10px;
    cursor: pointer;
    overflow-wrap: break-word;
}
.submenu ul li:hover {
    background-color: var(--primary);
    color: var(--primary-text)
}
.submenu-items {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    /* border-radius: 5px; */
    width: auto; /* Allow submenu-items to expand based on content */
    min-width: 300px; /* Ensure submenu-items has a minimum width */
}
.submenu ul li:hover .submenu-items {
display: block;
}
.document-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}